.photographer-main {
  position: absolute;
  z-index: -1;
}

#contact_modal {
  display: none;
  z-index: 10;
}

.photograph-header {
  background-color: #fafafa;
  height: 300px;
  margin: 2% 7% 5% 7%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.photograph-header > img {
  height: 200px;
  width: 200px;
  border-radius: 100%;
  object-fit: cover;
  order: 3;
}

.photograph-header > button {
  order: 2;
}

.photograph-header > div > h2 {
  color: #d3573c;
  font-size: 64px;
  font-weight: 400;
  margin: 0;
}

.photograph-header > div > :nth-child(2) {
  color: #901c1c;
  font-weight: 400;
  font-size: 24px;
}

.photograph-header > div > :nth-child(2) {
  font-weight: 400;
  font-size: 18px;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

/* Form modal */

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
  position: fixed;
  margin-left: 35%;
  margin-top: 2%;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
  margin-bottom: 3em;
}

.modal header h2 {
  font-size: 3em;
  font-weight: 500;
  margin: 3%;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
  margin-top: 8%;
}

form input {
  width: 95%;
  height: 50px;
  border: none;
  border-radius: 5px;
  padding-left: 1em;
  font-size: 1.3em;
}

textarea {
  height: 6em;
  width: 93%;
  font-size: 1.6em;
  font-weight: 500;
  padding: 1em;
  border: none;
  border-radius: 2%;
  resize: none;
}

/* filter */

.filter-container {
  display: flex;
  margin: 0 0 5% 150px;
  font-weight: bold;
  align-items: center;
}

.filter-container > p {
  margin: 0 2em 0 0;
}

/*DropDown Menu 2eme version*/
.dropdown {
  min-width: 15em;
  position: relative;
  margin: 2em;
}

.dropdown * {
  box-sizing: border-box;
}

.select {
  background: #901c1c;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  padding: 1em;
  cursor: pointer;
  transition: background 0.3s;
}

/* clicked styles */
/* .select-clicked {
  border: 2px #26489a;
  box-shadow: 0 0 0 0.8em #26489a;
} */

.select:hover {
  background: #962b2b;
}

.caret {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #fff;
  transition: 0.3s;
}

/* rotate stules */
.caret-rotate {
  transform: rotate(180deg);
}

.menu {
  list-style: none;
  padding: 0.2em 0.5em;
  background: #901c1c;
  border: 1px #901c1c solid;
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
  border-radius: 0.5em;
  color: #ffffff;
  position: absolute;
  top: 2.4em;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  opacity: 0;
  display: none;
  transition: 0.2s;
  z-index: 1;
}

.menu li {
  padding: 0.7em 0.5em;
  margin: 0.3em 0;
  border-radius: 0.5em;
  cursor: pointer;
}

.menu li:hover {
  background: #913838;
}

/* Active styles */
.active {
  background: #901c1c;
}

/* Open styles */
.menu-open {
  display: block;
  opacity: 1;
}

.filter-btn {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

/* main media pictures */

#media-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8rem;
  margin-top: 2em;
  margin: 0 4% 0 4%;
}

.media-article {
  height: 450px;
  width: 450px;
}

.media-picture {
  height: 85%;
  width: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  border-radius: 2%;
}

.media-video {
  height: 85%;
  width: 100%;
  border-radius: 2%;
  top: 0;
  left: 0;
}

.infos-media {
  color: #901c1c;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}

#main .infos-ticket {
  display: flex;

  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
  position: fixed;
  width: 376px;
  height: 50px;
  border-radius: 5px;
  bottom: 0;
  right: 0;
  z-index: 1000;
  margin-right: 7em;
  background: #db8876;
}
